/* Fonts */
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RussoOne';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
}

/* Reset and General Styles */
body {
    font-family: Roboto-Medium, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Keyboard Styles */
kbd {
    background-color: #212121;
    border-radius: 3px;
    color: #fff;
    padding: 3px 6px;
    font-weight: 600;
}

/* Headings */
h1,
h3 {
    font-family: 'RussoOne';
    text-align: center;
}

h1 {
    color: #003064;
}

h3 {
    font-size: 22px;
    color: #333;
}

/* Selection Disable */
.naoSelecionavel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title Subsection Styles */
.titulo-ss {
    display: flex;
    align-items: center;
}

.titulo-ss img {
    margin-right: 10px;
}

/* Documentation Styles */
.subtitulo-docs {
    text-align: left;
}

.texto-docs {
    font-family: Roboto-Regular, sans-serif;
    font-size: large;
    text-align: justify;
    text-indent: 1em;
}

.texto-lista-docs {
    font-family: Roboto-Regular;
}

.saida-docs {
    padding: 5px 10px;
    background-color: #7fabd8;
    color: #0056b3;
    border-radius: 150px;
}

a.feedback {
    height: 30px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #0056b3;
    border: solid 2px #0056b3;
    font-weight: 600;
    border-radius: 3px;
    margin-right: 5px;
    transition: 0.3s;
}

a.feedback:hover {
    color: #003064;
    border: solid 2px #003064;
}

/* Responsive Table Styles */
.responsive-table {
    margin: 0;

    li {
        border-radius: 3px;
        padding: 20px 25px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: -5%;

    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .table-row img {
        display: block;
        width: 100%;
    }

    .col-1 {
        flex-basis: 50%;
        text-align: justify;
    }

    .col-2 {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.responsive-table-list {
    li {
        border-radius: 3px;
        padding: 20px 25px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-left: -5%;
    }

    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
        flex-basis: 100%;
    }
}